
<% @pictures.each do |pic| %>
    <div class="flexbox">
      <%= image_tag limit_width_url(pic) %>
      <%= link_to 'download', download_url(pic), download: generate_filename(pic) %>
    </div>
<% end %>